@charset "UTF-8";
.red {
  color: red;
}

@media (max-width: 767px) {
  body {
    margin: 0;
  }
}
body {
  background-color: black;
}

@font-face {
  font-family: "RussianRail GPro";
  src: url("../fonts/RussianRail_G_Pro_Regular_0.otf") format(opentype);
}
.text {
  font-family: "RussianRail GPro";
  color: white;
  text-align: center;
}

:root {
  --swiper-navigation-sides-offset:-10px !important;
  --swiper-pagination-right:16px !important;
  --swiper-pagination-bottom:16px !important;
  --swiper-pagination-bullet-size:16px !important;
  --swiper-theme-color:red !important;
  --swiper-pagination-bullet-inactive-color:white !important;
  --swiper-pagination-bullet-inactive-opacity:0.5 !important;
}

#num6 {
  margin-top: 5%;
  background: url("../../res/photos-card/card6.png");
}

#num5 {
  margin-top: 5%;
  background: url("../../res/photos-card/card5.png");
}

#num4 {
  margin-top: 5%;
  background: url("../../res/photos-card/card4.png");
}

#num3 {
  background: url("../../res/photos-card/card3.png");
}

#num2 {
  background: url("../../res/photos-card/card2.png");
}

#num1 {
  background: url("../../res/photos-card/card1.png");
}

main .main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url("../../res/back/Header.png");
}
main .main .main-text {
  margin-top: 0;
  font-family: "RussianRail GPro";
  color: white;
  text-align: center;
}
@media (min-width: 1280px) {
  main .main .main-text {
    font-size: 5.5em;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  main .main .main-text {
    font-size: 4em;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  main .main .main-text {
    font-size: 3em;
  }
}
@media (max-width: 480px) {
  main .main .main-text {
    font-size: 1.9em;
  }
}
main .main .advantages-list {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  main .main .advantages-list {
    flex-direction: column;
  }
}
main .main .advantages-list .advantage-item {
  font-family: "RussianRail GPro";
  color: white;
  text-align: center;
  letter-spacing: 3%;
}
@media (min-width: 1281px) {
  main .main .advantages-list .advantage-item {
    font-size: 3em;
  }
}
@media (max-width: 1280px) and (min-width: 769px) {
  main .main .advantages-list .advantage-item {
    font-size: 1.9em;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  main .main .advantages-list .advantage-item {
    font-size: 2em;
    margin-bottom: 25%;
  }
}
@media (max-width: 480px) {
  main .main .advantages-list .advantage-item {
    font-size: 1.5em;
    margin-bottom: 25%;
  }
}
main .main .advantages-list .advantage-item:before {
  content: "✔ ";
}
@media (min-width: 769px) {
  main .about {
    height: 100vh;
  }
}
main .about {
  padding: 5% 0%;
  background: url("../../res/interier/interier4.jpg");
}
main .about .why-text {
  margin: 0%;
  font-family: "RussianRail GPro";
  color: white;
  text-align: center;
}
@media (min-width: 1281px) {
  main .about .why-text {
    font-size: 5em;
  }
}
@media (max-width: 1280px) and (min-width: 769px) {
  main .about .why-text {
    font-size: 3.5em;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  main .about .why-text {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  main .about .why-text {
    font-size: 1.5em;
  }
}
main .about .container {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  place-items: center;
}
@media (max-width: 768px) {
  main .about .container {
    flex-direction: column;
  }
}
@media (min-width: 769px) {
  main .about .container .item-card {
    width: 25vw;
    height: 33vh;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  main .about .container .item-card {
    width: 60vw;
    height: 30vh;
  }
}
@media (max-width: 480px) {
  main .about .container .item-card {
    width: 80vw;
    height: 30vh;
  }
}
main .about .container .item-card {
  border-bottom: 10px solid red;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 768px) {
  main .about .container .item-card {
    margin-bottom: 10%;
  }
}
main .about .container .item-card .num {
  padding: 5% 2.5% 5% 2.5%;
  font-family: "RussianRail GPro";
  color: white;
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.1);
}
main .about .container .item-card .main-text {
  margin: 0% 5%;
}
main .about .container .item-card .main-text .head {
  margin-top: 0;
  font-family: "RussianRail GPro";
  color: white;
}
@media (min-width: 769px) {
  main .about .container .item-card .main-text .head {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  main .about .container .item-card .main-text .head {
    font-size: 1.1em;
  }
}
main .about .container .item-card .main-text .text {
  text-align: left;
}
@media (min-width: 769px) {
  main .about .container .item-card .main-text .text {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  main .about .container .item-card .main-text .text {
    font-size: 0.9em;
  }
}
main .trainers {
  padding: 2.5% 0% 0% 0%;
}
@media (min-width: 1025px) {
  main .trainers {
    height: 80vh;
  }
}
main .trainers {
  background: url("../../res/back/back2.png");
}
main .trainers > .text {
  color: transparent;
  background-image: linear-gradient(to right, rgb(255, 0, 4) 0%, rgb(255, 128, 130) 63%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
@media (min-width: 1281px) {
  main .trainers > .text {
    font-size: 5em;
  }
}
@media (max-width: 1280px) and (min-width: 769px) {
  main .trainers > .text {
    font-size: 3.5em;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  main .trainers > .text {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  main .trainers > .text {
    font-size: 2em;
  }
}
main .trainers .swiper {
  width: 1000px;
  height: 600px;
}
main .trainers .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 317px;
  height: 400px;
}
main .trainers .swiper .swiper-wrapper .swiper-slide .main-text-container {
  width: 80%;
  margin: 0% 10%;
}
main .trainers .swiper .swiper-wrapper .swiper-slide .main-text-container .name {
  font-family: "RussianRail GPro";
  color: white;
  font-size: 1.2em;
}
main .trainers .swiper .swiper-wrapper .swiper-slide .main-text-container .stage {
  font-family: "RussianRail GPro";
  color: white;
  font-size: 1em;
}
main .trainers .swiper .swiper-wrapper .swiper-slide button {
  border-radius: 50px/50px;
  background-color: red;
  margin-bottom: 2%;
  border: 0;
  font-family: "RussianRail GPro";
  color: white;
  font-size: 1.5em;
  padding: 5% 10%;
  position: relative;
  top: 20%;
}
main .trainers .swiper .swiper-wrapper .swiper-slide .line {
  width: 80%;
  margin: 0% 10%;
  background-color: red;
  height: 1.25%;
  visibility: hidden;
}
main .trainers .swiper .swiper-wrapper .swiper-slide:hover button {
  top: 0%;
  transition: all 0.2s ease-in-out;
}
main .trainers .swiper .swiper-wrapper .swiper-slide:hover .line {
  visibility: visible;
}
main .trainers .swiper .swiper-button-next, main .trainers .swiper .swiper-button-prev {
  color: white;
}
main .trainers .swiper .swiper-pagination-bullet-active {
  color: white;
}/*# sourceMappingURL=about.css.map */