body {
  background-color: black;
}
@media (max-width: 1024px) {
  body {
    margin: 0;
  }
}

@font-face {
  font-family: "RussianRail GPro";
  src: url("../fonts/RussianRail_G_Pro_Regular_0.otf") format(opentype);
}
.red {
  color: red;
}

header .text {
  margin: 0;
  font-size: 28px;
  letter-spacing: 5px;
}
@media (max-width: 1024px) {
  header .logo.text {
    position: absolute;
    z-index: 2;
    top: 10px;
    font-size: 2em;
  }
  header img {
    position: absolute;
    left: 50%;
    width: 90px;
    height: 60px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  header img {
    display: none;
  }
}
@media (max-width: 1024px) {
  header nav .links {
    margin: 0;
    background: linear-gradient(rgba(200, 10, 44, 0.4) 15%, rgba(200, 10, 44, 0.2) 45%, rgba(200, 10, 44, 0) 100%);
    z-index: 1;
    position: relative;
    list-style-type: none;
    display: none;
    right: -100%;
    transition: right 0.25s ease-in;
  }
  header nav .links .link {
    text-align: center;
  }
  header nav .links .link a {
    font-family: "RussianRail GPro";
    color: white;
    font-size: 2.5em;
    text-decoration: none;
  }
  header nav .links.animate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    height: 100vh;
    padding: 0;
    right: 0;
  }
  header .burger {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
  }
  header .burger span, header .burger span:before, header .burger span:after {
    width: 100%;
    position: absolute;
    height: 10px;
    background: white;
    display: block;
    transition: 0.3s;
    border-radius: 5px;
  }
  header .burger span:before {
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .burger span {
    top: 20px;
  }
  header .burger span:after {
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .burger span.active:before {
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .burger span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  header .burger span.active {
    background: rgba(255, 255, 255, 0);
  }
}
@media (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .links {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
  }
  header nav .links li {
    list-style: none;
  }
  header nav .links li a {
    font-family: "RussianRail GPro";
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
  }
}

footer {
  margin-top: 2%;
}
@media (max-width: 1024px) {
  footer {
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    place-items: center;
  }
}
@media (min-width: 1025px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
  }
}
@media (max-width: 480px) {
  footer > .text {
    font-size: 2em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer > .text {
    font-size: 2.5em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer > .text {
    font-size: 3em;
  }
}
@media (min-width: 1025px) {
  footer > .text {
    font-size: 2.5em;
  }
}
footer > .text {
  letter-spacing: 25%;
}
footer .social-networks {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 1025px) {
  footer .social-networks > .text {
    font-size: 2.1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .social-networks > .text {
    font-size: 2.9em;
  }
}
@media (max-width: 768px) {
  footer .social-networks > .text {
    font-size: 1.5em;
    letter-spacing: 5%;
  }
}
footer .social-networks .social-network {
  margin: 5% 0%;
  display: flex;
  justify-content: center;
  place-items: center;
}
footer .social-networks .social-network img {
  margin-right: 2%;
}
@media (max-width: 480px) {
  footer .social-networks .social-network img {
    height: 39px;
    width: 39px;
  }
}
@media (min-width: 481px) {
  footer .social-networks .social-network img {
    height: 48px;
    width: 48px;
  }
}
footer .social-networks .social-network .name {
  font-family: "RussianRail GPro";
  color: white;
  margin: 0;
}
@media (max-width: 480px) {
  footer .social-networks .social-network .name {
    font-size: 1.5em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .social-networks .social-network .name {
    font-size: 2.5em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .social-networks .social-network .name {
    font-size: 2.5em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  footer .social-networks .social-network .name {
    font-size: 1.5em;
  }
}
@media (min-width: 1281px) {
  footer .social-networks .social-network .name {
    font-size: 2em;
  }
}
footer .contact-information {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .contact-information > .text {
  margin: 0;
  letter-spacing: 5%;
}
@media (min-width: 1025px) {
  footer .contact-information > .text {
    font-size: 2.1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .contact-information > .text {
    font-size: 2.8em;
  }
}
@media (max-width: 768px) {
  footer .contact-information > .text {
    font-size: 1.5em;
  }
}
footer .contact-information .contact {
  margin: 5% 0%;
  display: flex;
  justify-content: center;
  place-items: center;
}
footer .contact-information .contact img {
  margin-right: 2%;
}
@media (max-width: 480px) {
  footer .contact-information .contact img {
    height: 39px;
    width: 39px;
  }
}
@media (min-width: 481px) {
  footer .contact-information .contact img {
    height: 48px;
    width: 48px;
  }
}
footer .contact-information .contact .text {
  font-family: "RussianRail GPro";
  color: white;
  margin: 0;
}
@media (max-width: 480px) {
  footer .contact-information .contact .text {
    font-size: 1.3em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .contact-information .contact .text {
    font-size: 1.3em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .contact-information .contact .text {
    font-size: 2em;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  footer .contact-information .contact .text {
    font-size: 1.5em;
  }
}
@media (min-width: 1281px) {
  footer .contact-information .contact .text {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  footer .contact-information #address {
    font-size: 0.9em;
  }
}
@media (min-width: 1025px) {
  footer #end {
    grid-column: 1/4;
  }
}
footer #end {
  text-align: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
  font-family: "RussianRail GPro";
}/*# sourceMappingURL=header-footer.css.map */