@use 'extensions';
.text{
    @include extensions.text-font();
    text-align:center;
}
:root{
    --swiper-navigation-sides-offset:-10px !important;
    --swiper-pagination-right:16px !important;
    --swiper-pagination-bottom:16px !important;
    --swiper-pagination-bullet-size:16px !important;
    --swiper-theme-color:red !important; 
    --swiper-pagination-bullet-inactive-color:white !important; 
    --swiper-pagination-bullet-inactive-opacity:0.5 !important; 
}
#num6{
    margin-top:5%;
    background: url("../../res/photos-card/card6.png");
    }
#num5{
    margin-top:5%;
    background: url("../../res/photos-card/card5.png");
    }
#num4{
    margin-top:5%;
    background: url("../../res/photos-card/card4.png");
    }
#num3{
    background: url("../../res/photos-card/card3.png");
    }
#num2{
    background: url("../../res/photos-card/card2.png");
    }
#num1{
    background: url("../../res/photos-card/card1.png");
    }
 
main{
    & .main{
        @include extensions.flex-mixin(space-evenly);
        flex-direction: column;
        height:100vh;
        width:100%;
        background:url("../../res/back/Header.png");
        & .main-text{
            margin-top:0;
            @include extensions.text-font();
            text-align:center;
            @media (min-width:1280px)
            {
                font-size:5.5em;
            }
            @media (min-width:769px) and (max-width:1279px)
            {
                font-size:4em;
            }
            @media(max-width:768px) and (min-width:481px)
            {
                font-size:3em;
            }
            @media(max-width:480px)
            {
                font-size:1.9em;
            }
        }
        & .advantages-list{
            @include extensions.flex-mixin(space-evenly);
            @media(max-width:768px)
            {
                flex-direction: column;
            }
            & .advantage-item
            {
                @include extensions.text-font();
                text-align:center;
                letter-spacing: 3%;
                @media(min-width:1281px)
                {
                    font-size:3em;
                }
                @media(max-width:1280px) and (min-width:769px)
                {
                    font-size:1.9em;
                }
                @media(max-width:768px) and (min-width:481px)
                {
                    font-size:2em;
                    margin-bottom:25%;   
                }
                @media(max-width:480px)
                {
                    font-size:1.5em;
                    margin-bottom:25%;   
                }
                &:before{
                    content: "✔ ";
                }  
            }  
        }
    }
    & .about{
        @media(min-width:769px)
        {
            height:100vh;
        }
        padding:5% 0%;
        background:url("../../res/interier/interier4.jpg");
        & .why-text{
            margin:0%;
            @include extensions.text-font();
            text-align:center;
            @media(min-width:1281px)
            {
                font-size:5em;
            }
            @media(max-width:1280px) and (min-width:769px)
            {
                font-size:3.5em;
            }
            @media(max-width:768px) and (min-width:481px)
            {
                font-size:2em; 
            }
            @media(max-width:480px)
            {
                font-size:1.5em;
            }
        }
        & .container
        {
            margin-top:5%;
            @include extensions.flex-mixin(space-evenly);
            flex-wrap:wrap;
            place-items: center;
            @media(max-width:768px)
            {
            flex-direction: column;
            }
            & .item-card{
                @media(min-width:769px)
                {
                    width:25vw;
                    height:33vh;
                }
                @media(max-width:768px) and (min-width:481px)
                {
                    width:60vw;
                    height:30vh;
                }
                @media(max-width:480px)
                {
                    width:80vw;
                    height:30vh;
                }
            
                border-bottom:10px solid red;
                @include extensions.flex-mixin(start);
                flex-direction: column;
                @media (max-width:768px)
                {
                    margin-bottom:10%;
                }
                & .num{
                    padding:5% 2.5% 5% 2.5%;
                    @include extensions.text-font();
                    align-self:flex-end;
                    background-color:rgba(255,255,255,0.1);
                }
                & .main-text{
                    margin:0% 5%;
                    & .head{
                        margin-top:0;
                        @include extensions.text-font();
                        @media(min-width:769px)
                        {
                            font-size:2em;
                        }
                        @media(max-width:768px)
                        {
                            font-size:1.1em;
                        }
                    }
                & .text{
                    text-align:left;
                    @media(min-width:769px)
                    {
                        font-size:1.2em;
                    }
                    @media (max-width:768px)
                    {
                        font-size:0.9em;
                    }
                }
            }
        }
    }
}
    & .trainers{
        padding:2.5% 0% 0% 0%;
        @media(min-width:1025px)
        {
            height:80vh;
        }
        background:url("../../res/back/back2.png");
        & > .text{
            color:transparent;
            background-image: linear-gradient(to right, rgb(255,0,4) 0%,rgb(255,128,130) 63%,rgba(255,255,255) 100% );
            background-clip: text;
            @media(min-width:1281px)
            {
                font-size:5em;
            }
            @media(max-width:1280px) and (min-width:769px)
            {
                font-size:3.5em;
            }
            @media(max-width:768px) and (min-width:481px)
            {
                font-size:2em; 
            }
            @media(max-width:480px)
            {
                font-size:2em;
            }
        }
        //TODO: A mobile version of swiper 
        & .swiper{
            width:1000px;
            height:600px;
            & .swiper-wrapper{
                & .swiper-slide{
                @include extensions.flex-mixin(flex-end);
                flex-direction: column;
                align-items:center;
                overflow: hidden;
                width:317px;
                height:400px;
                & .main-text-container{
                    width:80%;
                    margin:0% 10%;
                    & .name{
                        @include extensions.text-font();
                        font-size: 1.2em;
                    }
                    & .stage{
                        @include extensions.text-font();
                        font-size: 1em;
                    }
                }
                & button{
                    border-radius:50px/50px;
                    background-color: red;
                    margin-bottom:2%;
                    border:0;
                    @include extensions.text-font();
                    font-size:1.5em;
                    padding:5% 10%;
                    position:relative;
                    top:20%;
                }
                & .line{
                    width:80%;
                    margin:0% 10%;
                    background-color: red;
                    height:1.25%;
                    visibility: hidden;
                }
                &:hover{
                    & button{
                        top:0%;
                        transition:all 0.2s ease-in-out;
                    }
                    & .line{
                        visibility: visible;
                    }            
                }
            }
        }
            & .swiper-button-next,& .swiper-button-prev{
                color:white;
            }
            .swiper-pagination-bullet-active{
                color:white;
            }
        }
    }
}