@use './extensions';
@mixin coolButton(){
@include button-setup(5%,10%);
            position: relative;
            overflow: hidden;
            margin-bottom:5%;
            @media(min-width:1025px)
            {  
                 &:hover #dub-arrow {
                     top: 0;
                 }
                 &:hover .text{
                     top:100%;
                 }
            }
            & #dub-arrow {
                @media (min-width:1025px)
                {
                width: 100%;
                height: 100%;
                background: #FFFFFF;
                top: -100%;
                left:0;
                position: absolute;
                @include extensions.flex-mixin(center);         
                align-items: center;
                transition: all .15s ease-out;
                &  img {
                    width: 30px;
                    height: auto;
                }
                }
                @media (max-width:1024px)
                {
                    display:none;
                }
                }
            & .text{
                margin:0;
                @media (max-width:768px)
                {
                    font-size:1em;
                }
                @media (min-width:769px)
                {
                    font-size:1.5em;
                }
                @media(min-width:1025px)
                {
                    transition: all .15s ease-Out;
                }
    }
}
@mixin button-setup($topBottom,$leftRight){
    border:0px;
    @include extensions.text-font();
    border-radius: 25px/25px;
    background-color: rgba(220,20,60,0.7);
    padding:$topBottom $leftRight;
    cursor:pointer;
}
@mixin animationSetup()
{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    &.square-animation {
    opacity: 1;
    transform: translateY(0);
    }
}