%flex-between{
    display:flex;
    justify-content:space-between;
}
%flex-start{
    display:flex;
}
%text{
    font-family: "RussianRail GPro";
}
span.red{
    color:red;
}
body{
    background-color: black;
}
%header{
    @extend %flex-between;
    & .text{
        letter-spacing: 5px;
    }
    background-color: black;
    .nav{
    @extend %flex-between;
        & .links{
        @extend %flex-between;
        gap:50px;
            & li{
            list-style:none;
                & a{
                @extend %text;
                text-decoration: none;
                }
            }       
         }
     }
}
@font-face {
    font-family: "RussianRail GPro";
    src: url(../fonts/RussianRail_G_Pro_Regular_0.otf) format(opentype);
}