@mixin flex-mixin($content-alignment)
{
    display:flex;
    justify-content: $content-alignment;
}
@mixin text-font(){
    font-family: "RussianRail GPro";
    color:white;

}
body{
    background-color: black;
    @media (max-width: 1024px) {
        margin:0;
    }
}
@font-face {
    font-family: "RussianRail GPro";
    src: url("../fonts/RussianRail_G_Pro_Regular_0.otf") format(opentype);
}