@use 'extensions';
@mixin text-font(){
    font-family: "RussianRail GPro";
    color:white;
}
header{
        & .text{
            margin:0;
            font-size:36px;
            letter-spacing: 5px;
        }
        @media (max-width:767px)
        {
        & .logo.text{
            position: absolute;
            z-index:2;

        } 
            //TODO: FIX THE MENU OF ITEMS
        & .links{
            margin:0;
            background:linear-gradient(rgba(200,10,44,0.4) 15%,
                rgba(200,10,44,0.2) 45%,
                rgba(200,10,44,0) 100%);
            z-index:1;
            position: relative;
            list-style-type: none;
            display:none;
            & .link{
                text-align: center;
                & a{
                    @include text-font();
                    font-size: 2.5em;
                    text-decoration: none;
                }
            }
        }
        & .links.animate{
            @include extensions.flex-mixin(center);
            flex-direction: column;
            gap:10%;
            width: 100%;
            height: 100vh;
            padding:0;
            }
        }
    @media(min-width:768px)
    {
        @include extensions.flex-mixin(space-between);
        & .links{
       @include extensions.flex-mixin(space-between);
        gap:5vw;
            & li{
            list-style:none;
            & a{
                @include text-font();
                text-decoration: none;
                font-size:1.3em;
                color:white;
                }
            }       
        }
    }

    @media(max-width:767px){
        & .burger{
            position: absolute;
            right: 10px;
            top: 10px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            z-index:3;
        }
        & .burger span, .burger span:before, .burger span:after{
            width: 100%;
            position: absolute;
            height: 10px;
            background: white;
            display: block;
            transition: .3s;
            border-radius: 5px;
        }
        & .burger span:before{
            content: "";
            top: -20px;
            transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        & .burger span{
            top: 20px;
        }
       & .burger span:after{
            content: "";
            bottom: -20px;
            transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }  
        & .burger span.active:before{
            content: "";
            top: 0px;
            transform: rotate(45deg);
            transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
       & .burger span.active:after{
            content: "";
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        & .burger span.active{
            background: rgba(255, 255, 255, 0);
            }
        }
    }
footer{
    display:grid;
    grid-template-columns:1fr 1.5fr 1.5fr;
    margin-top:2.5%;
    & .logotext{
        align-self:center;
        &>.text{
            font-size:2em;
            letter-spacing: 15%;
            text-align:center;
        }
        & .after{
             @extend %text;
             color:darkgray;
            font-size:0.7em;
            text-align:center;
        }
    }
    & .social-networks{
        & >.text {
            text-align:center;
            font-size:1.2em;
            margin-bottom:5%;
        }
        & .social-network{
            margin-bottom:5%;
           @include extensions.flex-mixin(center);
           & img{
            margin-right:2%;
            height:39px;
            width:39px;
           } 
           & .name{
                @extend %text;
                font-size:1.3em;
            }
        }
    }
    & .contact-information{
        & >.text {
            text-align:left;
            font-size:1.2em;
            margin-bottom:5%;
        }
        & .contact{
            margin-bottom:5%;
            @include extensions.flex-mixin(start);
            & img{
                margin-right:2%;
                height:39px;
                width:39px;
           } 
           & .text{
            @extend %text;
            font-size:1.2em;
           }
        }
    }
    & .end{
        grid-column:1/4;
        text-align:center;
        font-size:1.5em;
        @extend %text;
        }
    }