@use 'extensions';
@mixin text-font(){
    font-family: "RussianRail GPro";
    color:white;
}
header{
    background-color: black;
        @include extensions.flex-mixin(space-between);
        align-items: center;
        & .text{
            margin:0;
            font-size:36px;
            letter-spacing: 5px;
        }
        & .burger-checkbox{
            visibility: hidden;
        }
        & .nav{
        @media(min-width:0px) and (max-width:1279px)
        {
            //TODO: FIX THE MENU OF ITEMS
        & .links{
            top: 0;
            left: 100%;
            position: absolute;
            display: grid;
            gap: 12px;
            padding: 42px 0;
            margin: 0;
            background-color:#000;
            list-style-type: none;
            transition: .3s;
            width: 200px;
            & .link{
                display: block;
                padding: 8px;
                color: white;
                font-size: 18px;
                text-align: center;
                text-decoration: none;
            }
            & .link:hover {
                background: rgba(255,255,255,.2);
            }
        }
    }
    @media(min-width:1280px)
    {
        @include extensions.flex-mixin(space-between);
        & .links{
            order:4;
       @include extensions.flex-mixin(space-between);
        gap:5vw;
            & li{
            list-style:none;
            & a{
                @include text-font();
                text-decoration: none;
                font-size:1.3em;
                color:white;
                }
            }       
        }
    }
}

        @media(min-width:240px) and (max-width:1279px){
        & .burger {
            z-index: 1;
            display: block;
            position: relative;
            border: none;
            background: transparent;
            width: 40px;
            height: 26px;
            color:white;
            order:4;
        }
        & .burger::before,.burger::after {
            content: '';
            right: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 10px;
            background: white;
        }
        & .burger::before {
            top: 0;
            box-shadow: 0 11px 0 white;
            transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
        }
        & .burger::after {
            bottom: 0;
            transition: bottom .3s .15s, transform .3s;
        }
        & .burger-checkbox:checked + .burger::before {
            top: 11px;
            transform: rotate(45deg);
            box-shadow: 0 6px 0 rgba(0,0,0,0);
            transition: box-shadow .15s, top .3s, transform .3s .15s;
        }
        & .burger-checkbox:checked + .burger::after {
            bottom: 11px;
            transform: rotate(-45deg);
            transition: bottom .3s, transform .3s .15s;
        }
        & .burger-checkbox:checked ~ .nav .links {
            transform: translateX(-100%);
            }
    }
}
footer{
    display:grid;
    grid-template-columns:1fr 1.5fr 1.5fr;
    margin-top:2.5%;
    & .logotext{
        align-self:center;
        &>.text{
            font-size:2em;
            letter-spacing: 15%;
            text-align:center;
        }
        & .after{
             @extend %text;
             color:darkgray;
            font-size:0.7em;
            text-align:center;
        }
    }
    & .social-networks{
        & >.text {
            text-align:center;
            font-size:1.2em;
            margin-bottom:5%;
        }
        & .social-network{
            margin-bottom:5%;
           @include extensions.flex-mixin(center);
           & img{
            margin-right:2%;
            height:39px;
            width:39px;
           } 
           & .name{
                @extend %text;
                font-size:1.3em;
            }
        }
    }
    & .contact-information{
        & >.text {
            text-align:left;
            font-size:1.2em;
            margin-bottom:5%;
        }
        & .contact{
            margin-bottom:5%;
            @include extensions.flex-mixin(start);
            & img{
                margin-right:2%;
                height:39px;
                width:39px;
           } 
           & .text{
            @extend %text;
            font-size:1.2em;
           }
        }
    }
    & .end{
        grid-column:1/4;
        text-align:center;
        font-size:1.5em;
        @extend %text;
    }
}