@use './extensions';
.text{
        align-self:center;
        text-align:center;
        @extend %text;
    }
.main{
    display:grid;
    grid-template-columns:1fr 4fr;
    align-items:center;
    background-color: black;
    & .left{
        & .text{
            font-size:3em;
        }
        & button{
            border:0px;
            align-self:center;
            border-radius: 50px/50px;
            background-color: red;
            padding:5% 10%;
            & .text{
                font-size:25px;
                color: white;
            }
        }
    }
    & .right>img{
        width:100%;
        height:88vh;
    }
}
footer{
    & .logotext{
        &>.text{
            font-size:2em;
            letter-spacing: 15%;
            text-align:center;
        }
        & .after{
             @extend %text;
             color:darkgray;
            font-size:0.7em;
            text-align:center;
        }
    }
    & .social-networks{
        &>.text {
            font-size:1.5em;
            margin-bottom:5%;
        }
        & .social-network{
            margin-bottom:5%;
           @include extensions.flex-mixin(center);
           & img{
            margin-right:2%;
            height:39px;
            width:39px;
           } 
           & .name{
                @extend %text;
                font-size:1.5em;

            }
        }
    }
}