@use './extensions';
@use './coolButton';
.text{
    @include extensions.text-font();
    text-align: center;
}
#solution{
    left:15%;
}

main{
    @media (max-width:1024px)
    {
        padding-top:60px;
    }   
    & .training{
        background: url("../res/services/Prices.jpg");
        & .offers-containter{
            @include extensions.flex-mixin(space-evenly);
            flex-direction: column;
            align-items:center;
            gap:5%;
            width:100%;
            & .offer{ 
                background:linear-gradient(rgba(200,10,44,0) 15%,rgba(200,10,44,0.3) 85%,rgba(200,10,44,0.5) 100%);
                border:5px solid rgb(255,128,130);
                border-radius: 25px;
                margin-bottom:5%;
                @media (min-width:769px)
                {
                    width:90%;
                    grid-template-columns: 1fr 2fr;
                }
                display:grid;
                @media (max-width:768px)
                {
                    width:70%;
                    grid-column: auto;
                    justify-content: center;
                }
                @include coolButton.animationSetup();
                & .name{
                    @include extensions.flex-mixin(center);
                    flex-direction: column;
                    align-items: center;
                     & img{
                        margin:2% 0% 0% 2%;
                        width:70%;
                        border-radius:100%;
                    }
                    & > .text{
                        margin:0;
                        text-align:left;
                    }
                }
                & .text{ 
                    align-self:center;
                    @media (min-width:1281px)
                    {
                        font-size:1.3em;
                    }
                }    
            }
        }
    }
}
