@use './extensions';
.text{
    @include extensions.text-font();
    text-align: center;
}
main{
    @media (max-width:1024px)
    {
        padding-top:60px;
    }   
    & .training{
    background: url("../../res/back/Back1.png");
    @include extensions.flex-mixin(center);
    
    }
}
